<!doctype html>
<html data-framework="vue">

<head>
  <meta charset="utf-8">
  <title>石墨床</title>
  <link rel="shortcut icon" href="https://uploader.shimo.im/f/MC9Kef56SekGd61W.png">
  <link rel="stylesheet" href="fbui.css">
  <style>
    [v-cloak] { display: none; }
      .userinfo {
        position: absolute;
        bottom: -46px;
        width: 100%;
        font-size: 100%;
      }
      #login input {
        padding: 16px;
        text-align: center;
      }
      #login input:disabled {
        color: #ddd;
        cursor: not-allowed;
      }
      #login .control {
        display: flex;
      }
      #login-button {
        background-color: #fafafa;
      }
    </style>
</head>

<body>

  <section class="todoapp">
    <h1>石墨床</h1>
    <form action="#" id="login" v-on:submit.prevent="login" v-if="!user" v-cloak>
      <input v-model="username" autofocus required class="new-todo" placeholder="用户名">
      <input type="password" v-model="password" required class="new-todo" placeholder="密码">
      <div class="control">
        <input type="submit" value="登录" class="new-todo" id="login-button">
        <input type="button" @click="signup" value="注册" class="new-todo">
      </div>
    </form>
    <template v-if="user" v-cloak>
      <header class="header">
        <input class="new-todo" v-if="user" autofocus autocomplete="off" placeholder="请输入搜索关键词" v-model="newTodo"
          @keyup.enter="searchShimo">
        <!--@keyup.enter="addTodo" 按下回车后执行动作 -->

      </header>
      <section class="main" v-show="todos.length">
        <input class="toggle-all" type="checkbox" v-model="allDone">
        <ul class="todo-list">
          <li v-for="todo in filteredTodos" class="todo" :key="todo.objectId" :class="{ completed: todo.done, editing: todo == editedTodo }">
            <div class="view">
              <!-- <input class="toggle" type="checkbox" v-model="todo.done" @change="doneEdit(todo)"> -->
              <label @click="copy2Clipboard" style="cursor:pointer" id="btn" class='ENVS'>{{ todo.content }}</label>
              <!-- 上面ENS的意思就是指Emoji+Name+Vertical bar+ShortURL的首字母缩写,便于短链复制和分享 -->
              <div class="v-cloak">{{ todo.copyContent }}</div>

              <!-- <img src='https://img.shields.io/badge/CH%E6%96%87%E4%BB%B6-%E7%94%B5%E4%BF%A1-green.svg'></img> -->


              <!-- <label @dblclick="editTodo(todo)">{{ todo.content }}</label> -->
              <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
            <input class="edit" type="text" v-model="todo.content" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
          </li>
        </ul>
      </section>
      <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          共 <strong>{{ remaining }}</strong> {{ remaining | pluralize }}
        </span>
        <ul class="filters">
          <li><a href="#/all" :class="{ selected: visibility == 'all' }">全部</a></li>
          <li><a href="#/active" :class="{ selected: visibility == 'active' }">活跃</a></li>
          <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">已完成</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
          清除已完成项目
        </button>
      </footer>
      <p class="info userinfo">
        账户为 {{user.username}} (<a @click='logout' style="cursor:pointer">按此登出</a>)
        <button style="cursor:pointer" @click="toastShow">测试吐司</button>
      </p>
    </template>
  </section>
  <footer class="info">
    <img style="cursor:pointer" onclick="window.open('https://shimo.im/docs/K8CWmBMqMtYYpU1f')" src='https://img.shields.io/badge/%E6%96%B0%E4%B8%8A%E4%BC%A0%E4%B8%93%E7%94%A8-%E7%9F%B3%E5%A2%A8-lightgrey.svg?&logo=iCloud'>
    <p> Powered by <a href="https://leancloud.cn">LeanCloud</a></p>

  </footer>
  <a href="https://github.com/leancloud/leantodo-vue"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
      alt="Fork me on GitHub" data-canonical-src="http://t.cn/zRGx5LY"></a>
  <script src="https://unpkg.com/leancloud-storage@^3.0.0-beta.3/dist/av-live-query-min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-toasted/1.1.26/toasted.min.js"></script>
  <script src="script/app.js"></script>
  <script src="script/searchShimo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-toasted/1.1.26/vue-toasted.min.js"></script>
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- 引入谷歌的Material Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <script>
    Vue.use(Toasted);

  </script>
</body>

</html>